/* body {
    background: rgb(127, 204, 127);
} */

.navbar {
    background: linear-gradient(90deg, rgb(7,114,214) 0%, rgb(10,10,100) 38%, rgb(2,0,40) 100%);
}

.bg-gradient {
    background: linear-gradient(90deg, rgb(7,114,214) 0%, rgb(10,10,100) 38%, rgb(2,0,40) 100%);
}

.bg-ocean {
    background: rgb(4,4,66);
}

.sidebar {
    min-height: 100vh;
}

.sidebar a, .drop-a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.sidebar a:hover, .drop-a:hover {
    margin-left: 5px;
    text-decoration: none;
}

/* -------------------------------------------- */

@media screen and (max-width: 430px) {
    .sidebar {
        min-height: auto;
    }
}